body {
  background-color: ghostwhite;

}

h1 {
  text-align: center;
}

.carousel-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-images img {
  margin: 1em 1em 1em 1em;
  width: 28em;
  height: 18em;
  display: none;
  border: 1em solid gray;
  border-radius: 20%;

}


.carousel-images img:first-of-type {
  display: block;
}

input {
  text-align: center;
  width: 18em;
  height: 2em;
  border-radius: 20%;
}

button {
  background-color: green;
  color: ghostwhite;
  width: 10em;
  height: 2em;
  border-radius: 20%;
}

ul {
  margin: 0 auto 0 auto;
  list-style-type: none;
  border-bottom: 1em;
  border-color: red;
}

li {
  border-bottom: 1em;
  border-color: red;
}

.nav {
  width: 80%;
  position: sticky;
  height: 1.5em;
  font-size: 1.5em;
  text-align: center;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  border-radius: 20%;



}

.finder {
  text-align: center;

}



.container {
  display: flex;
  justify-content: space-around;
  line-height: 3em;
  list-style-type: georgian;

}
