body {
  background-image: url("https://static1.squarespace.com/static/53209a45e4b0c6583227b75d/57bc636ef5e23115c1933c33/5ec6b7a31f97445851a3a6a3/1593475383552/beer-suds.png?format=1500w");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: ghostwhite;
  font-family: 'Noto Sans KR', sans-serif;

}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6% auto 0 auto;
}

.logo img {
  padding: .5em;
  width: 2em;
  height: 2em;
}

.carousel-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-images {


}

.carousel-images img {
  margin: 0em 1em 1em 1em;
  width: 45em;
  height: 20em;
  display: none;
  border: .5em solid black;
  border-radius: 2em;

}

.carousel-images img:first-of-type {
  display: block;
}

input {
  text-align: center;
  width: 18em;
  height: 2em;
  border-radius: 2em;
}

button {
  background-color: #6e696c;
  color: ghostwhite;
  width: 10em;
  height: 2.5em;
  border-radius: 2em;
  border: .25em solid black;
}

button:hover {
  background-color: #3a3739;
  border: .33em solid #2e741d;


}

ul {
  margin: 0 auto 0 auto;
  list-style-type: none;
  border-bottom: 1em;
  border-color: red;
}

li {
  border-bottom: 1em;
  border-color: red;
}

.nav {
  width: 80%;
  position: fixed;
  left: 10%;
  top: 2%;
  height: 2.5em;
  background-color: #6e696c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2em;
  border: .2em solid black;




}

.finder {
  text-align: center;

}



.container {
  margin-top: 1em;
  background-color: #6e696c;
  color: ghostwhite;
  display: flex;
  justify-content: space-around;
  line-height: 3em;
  list-style-type: georgian;
  border-radius: 2em;

}
